<!DOCTYPE html>

{% load static %}
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/home.css' %}">
    <title>Mercado Estácio</title>
</head>

<body>
    <header>
        <div class="logo-container">
            <img src="{% static 'assets/logo_estacio.png' %}" alt="logo" class="logo">
            <h1>Mercado Estácio</h1>
        </div>
        <div class="btns-container">
            {% if user.is_staff %}
            <a href="{% url 'cadastrar-produto' %}">
                <div class="btn cadastro">Cadastrar produto</div>
            </a>
            {% endif %}

            {% if user.is_superuser %}
            <a href="{% url 'cadastrar-usuario' %}">
                <div class="btn cadastro">Cadastrar usuário</div>
            </a>
            {% endif %}

            <a href="{% url 'logout' %}">
                <div class="btn logout">Logout</div>
            </a>
        </div>

    </header>
    {% if user.is_authenticated and not user.is_staff and not user.is_superuser %}
    <main>
        {% if carrinho %}
        <h4>Num de itens no carrinho <span id="items_carrinho">{{ carrinho.num_de_itens }}</p>
        </h4>
        {% endif %}
        <h4>Produtos:</h4>
        {% if lista_produtos %}
        <div class="produtos-container">
            {% for produto in lista_produtos %}
            <div class="card-produto">
                <div class="card-quantidade">
                    {{ produto.quantidade }}x
                </div>
                <div class="card-descricao">
                    <div class="card-label">Produto</div>
                    <div class="card-valor">{{ produto.prod_desc }}</div>
                </div>
                <div class="card-preco">
                    <div class="card-label">Preço unitário</div>
                    <div class="card-valor">R${{ produto.obterValorFormatado }}</div>
                </div>
                <button value="{{ produto.id }}" class="btn adicionar-item">Adicionar unidade</button>
                <button value="{{ produto.id }}" class="btn remover-item">Remover unidade</button>
            </div>
            {% endfor %}
        </div>

        <div class="paginacao">

            {% if lista_produtos.has_previous %}
            <a href="?pagina={{ lista_produtos.previous_page_number }}">
                <div class="btn-paginacao">
                    <img src="{% static 'assets/previous_icon.svg' %}">
                </div>
            </a>
            {% endif %}

            <span class="pagina-atual">{{ lista_produtos.number }} de {{ lista_produtos.paginator.num_pages }}</span>

            {% if lista_produtos.has_next %}
            <a href="?pagina={{ lista_produtos.next_page_number }}">
                <div class="btn-paginacao">
                    <img src="{% static 'assets/next_icon.svg' %}">
                </div>
            </a>
            {% endif %}
        </div>
        {% else %}
        <h4>Sem produtos registrados.</h4>
        {% endif %}
    </main>
    {% elif user.is_staff %}
    <div class="main-container">
        <h3>Produtos cadastrados: </h3>
        {% if lista_produtos %}
        <div class="tabela-produtos">
            {% for produto in lista_produtos %}
            <div class="card-produto-edicao">
                {{ produto.quantidade }}x
                <div class="card-valor">{{ produto.prod_desc }}</div>

                <div class="card-valor">R${{ produto.obterValorFormatado }}</div>
                <div class="card-acoes">
                    <a href="/produto/editar/{{ produto.id }}">
                        <button>Editar</button>
                    </a>
                    <a href="/produto/deletar/{{ produto.id }}">
                        <button>Deletar</button>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <h4>Sem produtos registrados.</h4>
        {% endif %}
        {% if user.is_superuser %}
        <h3>Usuários cadastrados:</h3>
        <div class="tabela-usuarios">
            {% if lista_usuarios %}
            {% for usuario in lista_usuarios %}
            <div class="card-usuario">
                nome: {{ usuario.username }}
                {% if usuario.email %}
                {{ usuario.email }}
                {% endif %}
                {% if usuario.is_staff %}
                Funcionário
                {% endif %}
                {% if usuario.is_superuser %}
                ADM
                {% endif %}
                <a href="/usuario/deletar/{{ usuario.id }}">
                    <button>Deletar</button>
                </a>
            </div>
            {% endfor %}
            {% else %}
            <p>Não há usuários cadastrados.</p>
            {% endif %}
        </div>
        {% endif %}
    </div>
    {% endif %}

    <script src="{% static 'script/script.js' %}"></script>
</body>

</html>