<!DOCTYPE html>

{% load static %}
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/home.css' %}">
    <title>Mercado Estácio</title>
</head>

<body>
    <header>
        <div class="logo-container">
            <img src="{% static 'assets/logo_estacio.png' %}" alt="logo" class="logo">
            <h1>Mercado Estácio</h1>
        </div>
        <a href="logout">
            <div class="btn logout">Logout</div>
        </a>
    </header>
    {% if user.is_authenticated and not user.is_staff and not user.is_superuser %}
    <main>
        <h4>Produtos:</h4>
        {% if lista_produtos %}
        <div class="produtos-container">
            {% for produto in lista_produtos %}
            <div class="card-produto">
                <div class="card-quantidade">
                    {{ produto.quantidade }}x
                </div>
                <div class="card-descricao">
                    <div class="card-label">Produto</div>
                    <div class="card-valor">{{ produto.prod_desc }}</div>
                </div>
                <div class="card-preco">
                    <div class="card-label">Preço unitário</div>
                    <div class="card-valor">R${{ produto.obterValorFormatado }}</div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="paginacao">

            {% if lista_produtos.has_previous %}
            <a href="?pagina={{ lista_produtos.previous_page_number }}">
                <div class="btn-paginacao">
                    <img src="{% static 'assets/previous_icon.svg' %}">
                </div>
            </a>
            {% endif %}

            <span class="pagina-atual">{{ lista_produtos.number }} de {{ lista_produtos.paginator.num_pages }}</span>

            {% if lista_produtos.has_next %}
            <a href="?pagina={{ lista_produtos.next_page_number }}">
                <div class="btn-paginacao">
                    <img src="{% static 'assets/next_icon.svg' %}">
                </div>
            </a>
            {% endif %}
        </div>
        {% else %}
        <h4>Sem produtos registrados.</h4>
        {% endif %}
    </main>
    {% elif user.is_staff and not user.is_superuser %}
    <h1>Page de funcionário</h1>

    {% elif user.is_superuser %}
    <h1>Page de adm</h1>
    {% endif %}
</body>

</html>