<!DOCTYPE html>

{% load static %}
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/home.css' %}">
    <title>Mercado Estácio</title>
</head>

<body>
    <header>
        <div class="logo-container">
            <img src="{% static 'assets/logo_estacio.png' %}" alt="logo" class="logo">
            <h1>Mercado Estácio</h1>
        </div>
    </header>
    <main>
        <h4>Produtos:</h4>
        {% if lista_produtos %}
        <div class="produtos-container">
            {% for produto in lista_produtos %}
            <div class="card-produto">
                <div class="card-quantidade">
                    {{ produto.quantidade }}x
                </div>
                <div class="card-descricao">
                    <div class="card-label">Produto</div>
                    <div class="card-valor">{{ produto.prod_desc }}</div>
                </div>
                <div class="card-preco">
                    <div class="card-label">Preço unitário</div>
                    <div class="card-valor">R${{produto.obterValorFormatado}}</div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <h4>Sem produtos adicionados</h4>
        {% endif %}
    </main>
</body>

</html>